@model HOTEL360___Trabalho_final.Models.Reservas

@{
    ViewData["Title"] = "Apagar Reserva";
}

<h1>Apagar Reserva</h1>

<h3>Tem a certeza que pretende eliminar esta reserva?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCheckIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCheckIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCheckOUT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCheckOUT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quarto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quarto.Nome)
        </dd>
        @* lista dos Serviços da Reserva *@
        <dt class="col-sm-2">
            Serviços
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var serv in Model.ListaServicos)
                {
                    <li>
                        <a asp-action="Details"
                           asp-controller="Servicos"
                           asp-route-id="@serv.Id">@serv.Nome</a>
                    </li>
                }
            </ul>
        </dd>
        <dt class="col-sm-2">
            Hospede
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospede.Nome)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorTotal)€
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Regressar à listagem de Reservas</a>
    </form>
</div>
