@model HOTEL360___Trabalho_final.Models.Reservas

@{
    ViewData["Title"] = "Apagar Reserva";
}

<br />
<h1 style="color: #fff;">Apagar Reserva</h1>
<h3 style="color: #fff;">Tem a certeza que pretende eliminar este reserva?</h3>


<div class="row mb-4">
    <div class="col-md-4">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div class="card-body"> 
                        <dl class="row">
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.DataReserva)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.DataReserva)
                            </dd>
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.DataCheckIN)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.DataCheckIN)
                            </dd>
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.DataCheckOUT)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.DataCheckOUT)
                            </dd>
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Quarto)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.Quarto.Nome)
                            </dd>
                            @* lista dos Serviços da Reserva *@
                            <dt class="col-sm-6">
                                Serviços
                            </dt>
                            <dd class="col-sm-6">
                                <ul>
                                    @foreach (var serv in Model.ListaServicos)
                                    {
                                        <li>
                                            <a asp-action="Details"
                                               asp-controller="Servicos"
                                               asp-route-id="@serv.Id">@serv.Nome</a>
                                        </li>
                                    }
                                </ul>
                            </dd>
                            <dt class="col-sm-6">
                                Hospede
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.Hospede.Nome)
                            </dd>
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.ValorPago)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.ValorPago)€
                            </dd>
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.ValorTotal)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.ValorTotal)€
                            </dd>
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.ValorAPagar)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.ValorAPagar)€
                            </dd>
                        </dl>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Apagar" class="btn btn-danger" />
                            <a class="btn btn-secondary" asp-action="Index">Regressar à listagem de Reservas</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>