@model IEnumerable<HOTEL360___Trabalho_final.Models.Reservas>

@{
    ViewData["Title"] = "Reservas";
}

<h1>Lista de Reservas</h1>

<p>
    <a asp-action="Create">Nova Reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValorPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCheckIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCheckOUT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quarto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValorPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCheckIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCheckOUT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quarto.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
