@model IEnumerable<HOTEL360___Trabalho_final.Models.Utilizadores>

@{
    ViewData["Title"] = "Utilizadores";
}

<h1>Lista de Utilizadores</h1>

<p>
    <a asp-action="Create">Novo Utilizador</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telemovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telemovel)
            </td>
            <td>
                @* vou mudar o nome da imagem para a imagem,
            propriamente dita
            *@
                @*uma forma de mostrar a imagem, usando a variável do ForEach*@
                <img src="~/Imagens/@item.Avatar"
                        alt="Avatar do utilizador @item.Nome"
                        title="@item.Nome"
                        width="100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
