@model HOTEL360___Trabalho_final.Models.Quartos

@{
    ViewData["Title"] = "Apagar Quarto";
}

<h1>Apagar Quarto</h1>

<h3>Tem a certeza que pretende eliminar este quarto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Imagens/@Html.DisplayFor(model => model.Imagem)"
                 alt="imagem do quarto @Html.DisplayFor(model => model.Nome)"
                 title="@Html.DisplayFor(model => model.Nome)"
                 width="100px" />
        </dd>
    </dl>
    
    <form asp-action="Apagar">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Regressar à listagem de Quartos</a>
    </form>
</div>
