@model IEnumerable<HOTEL360___Trabalho_final.Models.Quartos>

@{
    ViewData["Title"] = "Quartos";
}

<h1>Lista de Quartos</h1>

@if (User.Identity.IsAuthenticated){
    <p>
        <a asp-action="Create">Novo Quarto</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                    @* vou mudar o nome da imagem para a imagem,
                propriamente dita
                *@

                    <img src="~/Imagens/@Html.DisplayFor(modelItem => item.Imagem)"
                         alt="imagem do quarto @Html.DisplayFor(modelItem => item.Nome)"
                         title="@Html.DisplayFor(modelItem => item.Nome)"
                         width="100px" />
                    @*outra forma de mostrar a imagem, usando a variável do ForEach*@
                    <img src="~/Imagens/@item.Imagem"
                         alt="imagem do quarto @item.Nome"
                         title="@item.Nome"
                         width="100px" />
            </td>
            <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <text>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                        </text>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
